*, *::after, *::before {
  margin: 0;
  padding: 0;
  color: #2D3142;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article {
  background-color: #70FFEC;
  margin: 5vw 0;
  text-align: justify;
}

article p {
  padding: 1vw;
  transform: scale(0.9);
}

h3 {
  background-color: #FFF2F1;
  padding: 3rem;
  margin-bottom: 4vw;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .section-center {
} */

form {
  text-align: center;
}

/* all children of form */
form * {
  margin: 4vw;
}

button {

  padding: 2vw;
  text-transform: uppercase;
  background-color: #70FFEC;
}

article {
  background-color: #70FFEC;
}

@media screen  {
  
}