*, *::after, *::before {
  padding: 0;
  color: #2D3142;
}
*::selection {
  color: #FFFFFF;
  background-color: #2D3142;
}
article {
  background-color: #7DE2D1;
  margin: 5vw 0;
  text-align: justify;
  padding: 1.5rem
}

article p {
  transform: scale(0.9);
}

.break {
  text-align: justify;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 2vw;
  border-radius: 4%;
  text-transform: uppercase;
  background-color: #7DE2D1;
  transition: all .5s ease-in-out;
}

button:hover:enabled {
  color: #FFF2F1;
  background-color: #087E8B;
  font-weight: bold;
}

header {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  background-color: #FFF2F1;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 11% 5%;
  text-align: center;
}

h4 {
  font-size: 0.9rem;
}

.info {
  padding: 7% 5% 10% 5%;
}

.info * {
  padding: 1rem;
}

.info p {
  font-size: 0.9rem;
  text-align: justify;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form input {
  max-width: 4rem;
}

form {
  padding: 5%;
  margin-bottom: 15%;
  text-align: center;
  background-color: #FFF2F1;
  box-shadow: 0px 10px 13px -7px #000000, 5px -6px 22px 5px rgb(0 0 0 / 47%);
}

/* all children of form */
form * {
  margin: 4vw;
  padding: 3%;
}


@media only screen and (min-width: 700px) {
  button {
    /* remember background, no color */
    background: linear-gradient(145deg, #087E8B 50%, #7DE2D1 50% );
    background-size: 300%, 100%;
    background-position: right bottom;
    transition: all 0.5s ease;
  }
  
  button:hover:enabled {
    color: #FFF2F1;
    background-position: left bottom;
    background-position: left bottom
  }

  article {
    padding: 2rem 1.5rem;
  }
  
}

@media only screen and (min-width: 700px) and (max-width: 1199px) {

  article p {
    font-size: 1.4rem;
  }

  form {
    display: flex;
    justify-content: space-between;
    padding: 4% 10%;
    margin-bottom: 10%;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    transform: scale(1.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info * {
    padding: 1rem;
  }
  
  .info {
    text-align: center;
    margin: 3rem;
    padding: 5% 10%;
    transform: scale(1.2);
  }

}

@media only screen and (min-width: 1200px) {

  article {
    background-color: #7DE2D1;
    margin: 3vw 0;
    text-align: justify;
  }
  
  article p {
    font-size: 2rem;
    font-family: 'Arial';
    /* max-width: 80%; */
    /* padding: 1% 10%; */
  }

  .break {
    padding: 0;
  }

  button {
    padding:  1rem;
  }

  form {
    padding: 3%;
  }
  
  form label, form input {
    font-weight: bold;
    margin-top: 3rem;
  }

  form input {
    max-width: 4rem;
  }

  form * {
    margin: 1vw;;
    font-size: 1.5rem;
    margin: 4vw;
    padding: 15px;
  }

  form label, form input {
    margin-top: 3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 2.5rem;
    padding:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info {
    text-align: center;
    padding: 5%;
  }

  .info * {
    transform: scale(1.25);
  }

  .info p {
    text-align: center;
  }

  .lorem-text {
    padding: 4rem;
  }

}